/* Tablet 768px */
@media screen and (max-width: 768px) {
   .container .h-habilidades .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
   }
}
/* Mobile 425px */
@media screen and (max-width: 425px) {
    .container .h-name {
     margin-top: 10%;
     margin-bottom: 50px;
    }
    .container .h-name h1 {
        font-size: 22px;
    }
    
 }